/* Estilos básicos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Estilos para o botão hamburger e menu em telas pequenas */
#menu-toggle {
    display: none; /* Esconde o checkbox */
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Estilos de Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        display: none; /* Inicialmente escondido */
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex; /* Mostra o menu ao clicar */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}

/* Estilos para a lista de links */
.container {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.link-list {
    margin-bottom: 20px;
}

.link-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}

.link-list a:hover {
    text-decoration: underline;
}

h1.text-center {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}
p.text-center {
    font-style: italic;
}