/* Estilos básicos para os elementos após o reset */

h1, h2, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Espaçamento abaixo do título principal */
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2rem; /* Ajuste conforme necessário */
    margin-top: 30px; /* Espaçamento acima do subtítulo */
    margin-bottom: 15px; /* Espaçamento abaixo do subtítulo */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    margin-bottom: 20px; /* Espaçamento abaixo dos parágrafos */
    line-height: 1.6; /* Garante uma altura de linha consistente */
}

strong {
    font-weight: bold; /* Garante que o texto em negrito fique mais destacado */
}

br {
    margin-bottom: 10px; /* Espaçamento após a quebra de linha */
}

/* Estilos adicionais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Garante uma altura de linha consistente */
    overflow-x: hidden; /* Remove barras de rolagem horizontais */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .nav-links a {
        font-size: 16px;
        padding: 10px 15px;
    }
}

.container {
    padding: 20px;
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

/* Ajuste da imagem para a página index.html */
.img-fluid {
    max-width: 100%; /* Faz com que a imagem não ultrapasse a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

.center-block {
    max-height: 50vh; /* Ajusta a altura máxima da imagem para 50% da altura da viewport */
    object-fit: cover; /* Garante que a imagem cubra o container sem distorção */
}

.link-list {
    margin-bottom: 20px;
}

.link-list a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link-list a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.trophy-img {
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: contain;
}

.trophy-card {
    margin-bottom: 30px;
    text-align: center;
}

.trophy-card h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trophy-card p {
    margin-bottom: 0;
}
body {
    background-image: url('/corinthians_em_widescreen_e_alta_definicao_tw_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
